<div class="page-header">
	<h1>OWIC
		<small>Open Windows Insiders Community</small>
		<div class="sociallinks">
			<a href="https://twitter.com/owic_be" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>
			<a href="https://www.facebook.com/owicbe/" target="_blank" class="social social_solid facebook"><i class="fa fa-facebook"></i></a>
			<a href="https://www.linkedin.com/company/10867864" target="_blank" class="social social_solid linkedin"><i class="fa fa-linkedin"></i></a>
			<a href="http://www.owic.be" target="_blank" class="social social_solid link"><i class="fa fa-external-link"></i></a>
		</div>
	</h1>
</div>

<div class="heads">

	<div class="col-md-4">
		<img src="images/TimSommer.png" alt="" />
		<h3>Tim Sommer<br/>
			<p class="badge">Competence Manager, Team4Talent</p>
		</h3>

		<div class="sociallinks head">
			<a href="mailto:info@owic.be" target="_blank" class="social"><i class="fa fa-envelope"></i></a>
			<a href="https://twitter.com/sommertim" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/timsommer" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
			<a href="https://github.com/timsommer" target="_blank" class="social"><i class="fa fa-github"></i></a>
			<a href="http://blog.timsommer.be" target="_blank" class="social"><i class="fa fa-html5"></i></a>
		</div>

	</div>

	<div class="col-md-4">
		<img src="images/JorisBrauns.png" alt="">
		<h3>Joris Brauns<br/>
			<span class="badge">Consultant, Team4Talent & Microsoft MVP</span>
		</h3>

		<div class="sociallinks head">
			<a href="mailto:info@owic.be" target="_blank" class="social"><i class="fa fa-envelope"></i></a>
			<a href="https://twitter.com/jorisbrauns" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/brauns" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
			<a href="https://github.com/jorisbrauns" target="_blank" class="social"><i class="fa fa-github"></i></a>
			<a href="http://blog.jorisbrauns.be" target="_blank" class="social"><i class="fa fa-html5"></i></a>
		</div>

	</div>
	<div class="col-md-4">
		<img src="images/TomVerbesselt.png" alt="">
		<h3>Tom Verbesselt<br/>
			<span class="badge">Lecturer and head of the HBO5 Department at CVO Antwerp</span>
		</h3>

		<div class="sociallinks head">
			<a href="mailto:info@owic.be" target="_blank" class="social"><i class="fa fa-envelope"></i></a>
			<a href="https://www.facebook.com/tverbesselt" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/tom-verbesselt-46a69323" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
		</div>

	</div>

</div>